html *{
    font-family: "Nunito";
}


.people-section__image-img{
    height: 40rem;
    width: 100%;
    position: relative;   
  }

.ellipse{
    position: absolute;
    width: 850px;
    height: 850px;
    left: -30px;
    top: -3rem;
    border-radius: 50%;
    background: #FFFFFF;
    opacity: 80%;
 
  }

.text-people-title{
    display:flex;
    align-items:center;
    justify-content:start;
    padding-top: 16rem;
    padding-left: 8rem;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 114px;
    letter-spacing: -0.02em;
    color: #DC9057;
  }
  

  .text-people-subtitle{
    display:flex;
    align-items:center;
    justify-content:start;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 42px;
    color: #4A3A2A;
    padding-left: 8rem;
    margin-top:0.5rem;
  }
  
  .text-people-content{
    display:flex;
    align-items:center;
    justify-content:start;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #4A3A2A;
    padding-left: 8rem;
    padding-right: 4rem;
  }


  .our-people-journey{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A3A2A;
  }

  .stories-of-joy{
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A3A2A;
  }

  .uplifting{
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 50px;
    color: #1E3569;
    padding-top: 70px;
  }
  
  
  .stories-of-joy-content{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4A3A2A;
   
  }
  
  .stories-of-joy-content-mobile{
    display: none;
    font-size: 12px;
    line-height: 20px;
  }
  
  .stories-of-joy-row1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
  }
  
  .uplifting-container{
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 44px;
    padding-bottom: 44px;
    height: 100%;
    grid-column: 2 / 3;
  
  }
  
  
  .stories-of-joy-row2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin-left:50px;
    margin-right:50px;
    margin-bottom: 10px;
    width: 100%;
      
  }
  
  .stories-of-joy-container{
    background-color: #FFFFFF;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 44px;
    padding-bottom: 44px;
    height: 100%;
    grid-column: 1 / 2;
   }
  
  .farmers-pic{
    width: 100%;
    border: 8px solid;
    border-color: #DC9057;
    grid-column: 1 / 2;
   
  }
  
  .jollibee-crew-pic{
    width: 100%;
    border: 8px solid;
    border-color: #DC9057;
    grid-column: 2 / 3;
  }
  
  .read-more{
     
    left: 0%;
    right: 13.92%;
    top: 0%;
    bottom: 0%;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #D84B59;
  }
  
  .main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
  }


  @media only screen and (min-width:768px) and (max-width:992px){
    .people-section__image-img{
      height: 20rem;
      width: 100%;
      position: relative;
    }
  
    .ellipse{
      width: 400px;
      height: 400px;
      left: -30px;
      top: 20px;
      border-radius: 50%;
      background: #FFFFFF;
      opacity: 70%;  
    }
  
    .text-people-title{
      right: 0;
      padding-top: 5rem;
      font-style: normal;
      font-weight: 700;
      font-size: 50px;
      letter-spacing: -0.02em;
      color: #DC9057;
      padding-left: 4rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0;
      line-height: 50px;
    }
  
    .text-people-subtitle{
      right: 0;
      bottom: 28.2%;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 30px;
      color: #4A3A2A;
      padding-left:4rem;
      padding-right: 2rem;
    }
  
    .text-people-content{
      right: 0;
      bottom: 24.2%;
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 18px;
      color: #4A3A2A;
      padding-left: 4rem;
      padding-right: 1rem;
    }
  
  
    .our-people-journey{
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 42px;
      margin: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4A3A2A;
    }
    
    .stories-of-joy{
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      line-height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #4A3A2A;
    }
    
    .dates{
      font-size: 0.75rem;
      line-height: 1;
    }
    
    .uplifting{
      font-style: normal;
      font-weight: 700;
      font-size: 18px;
      line-height: 20px;
      color: #1E3569;
      padding-top: 10px;
    }
    
    .stories-of-joy-content{
      display: none;
    }
    
    .stories-of-joy-content-mobile{
      display:block;
   
    }
    
    .stories-of-joy-row1{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 10px;
      margin-top: 10px;
      width: 100%;
    }

    
    .uplifting-container{
      background-color: #FFFFFF;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      grid-column: 2 / 3;
    }
    
    .stories-of-joy-row2{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 5px;
      align-items: center;
      justify-content: center;
      margin-left: 2rem;
      margin-right: 2rem;
      margin-bottom: 10px;
      width: 100%;   
    }
    
    .stories-of-joy-container{
      background-color: #FFFFFF;
      width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 14px;
      padding-bottom: 14px;
      height: 100%;
      grid-column: 1 / 2;
     }
    
    .farmers-pic{
      width: 100%;
      border: 8px solid;
      border-color: #DC9057;
      grid-column: 1 / 2;
    }
    
    .jollibee-crew-pic{
      width: 100%;
      border: 8px solid;
      border-color: #DC9057;
      grid-column: 2 / 3;
    }
    
    .read-more{ 
      left: 0%;
      right: 13.92%;
      top: 0%;
      bottom: 0%;
      font-style: normal;
      font-weight: 900;
      font-size: 12px;
      line-height: 20px;
      display: flex;
      align-items: center;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #D84B59;
      text-decoration: none !important;
    }
    
    .main-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: 40px;
      margin-right: 40px;
      margin-top: 20px;
    }
    
  }


  @media only screen and (max-width: 600px) and (max-width:768px) {

    .people-section__image-img{
      height: 15rem;
      width: 100%;
      position: relative;
    }
  
    .ellipse{
      width: 280px;
      height: 280px;
      left: -30px;
      top: 38px;
      border-radius: 50%;
      background: #FFFFFF;
      opacity: 70%;  
    }
  
    .text-people-title{
      padding-top: 3rem;
      font-style: normal;
      font-weight: 800;
      font-size: 30px;
      letter-spacing: -0.02em;
      color: #DC9057;
      padding-left: 3rem;
      padding-bottom: 0;
      margin-bottom: 0;
      line-height: 50px;
    }
  
    .text-people-subtitle{
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      color: #4A3A2A;
      padding-left:3rem;
      padding-right: 2rem;
      margin-top: 0;
      margin-bottom: 0.5rem;
    }
  
    .text-people-content{
      font-style: normal;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: #4A3A2A;
      padding-left: 3rem;
      padding-right: 1rem;
    }

    .stories-of-joy-row1{
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;
    }

    .stories-of-joy-row2{
      display: grid;
      grid-template-columns: 1fr;
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem;  
    }

    .main-container{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 10px;
    }
  
    .farmers-pic{
      max-width: 100%;
      border: 16px solid #DC9057;
      grid-column: 1 / 2;
      grid-row: 1/2;
    }
  
    .uplifting-container{
      background-color: #FFFFFF;
      max-width: 100%;
      padding-top: 44px;
      padding-bottom: 44px;
      grid-column: 1 / 2;
      grid-row: 2/ 3;
    }
  
    .jollibee-crew-pic{
      max-width: 100%;
      border: 16px solid #DC9057;
      grid-column: 1 / 2;
      grid-row: 3 / 4;
    }
  
    .stories-of-joy-container{
      background-color: #FFFFFF;
      max-width: 100%;
      padding-top: 44px;
      padding-bottom: 44px;
      grid-column: 1 / 2;
      grid-row: 4 / 5;
    }
  
    .our-people-journey{
      font-size: 20px;
      line-height: 42px;
      margin: 30px;
    }
  
    .stories-of-joy{
      font-size: 20px;
      line-height: 42px;
      margin: 30px;
    }
  
    .stories-of-joy-content-mobile{
      display:block;
      font-size: 15px;
      line-height: 22px;
    }
  
    .stories-of-joy-content{
      display: none;
    }
  
  
    .uplifting{
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 25px;
      color: #1E3569;
      padding-top: 10px;
    }
  
    .uplifting-container{
      background-color: #FFFFFF;
      max-width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 44px;
      padding-bottom: 44px;
    }
  
    .stories-of-joy-container{
      background-color: #FFFFFF;
      width: 100%;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 44px;
      padding-bottom: 44px;
      height: 100%;
    }
  }


.our-people-roadmap{
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 42px;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.pillars{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #4A3A2A;
}

.view-all-stories-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.view-all-stories-button{
  margin-top: 40px;
  background-color: #D84B59;
  color:#FFFFFF;
  border: none;
  width:200px;
  height: 42px;
}

.card-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding-top: 10px; 
}
  
.card.card1{
  grid-column: 1 /2;
  width: 100%;
  grid-row: 1/2;
}
  
.card.card2{
  grid-column: 2 /3;
  grid-row: 1/2;
  width: 100%;
}

.card.card3{
  grid-column: 3 /4;
  grid-row: 1/2;
  width: 100%;
}

.card.card4{
  grid-column: 4 /5;
  grid-row: 1/2;
  width: 100%;
}
  
#cards-text-stories{
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 22px;
  color: #4A3A2A;
}
  
.card{
  background: rgba(220, 144, 87, 0.2);;
  width: 100%;
  border: none;
}
  
#cards:hover {
  background: #DC9057; 
}
  
#cards-text-stories:hover{
  color:#FFFFFF;
}
  
.packaging-sustainability-container{
  grid-column: 1 /6;
  grid-row: 2/3;
  margin-top: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 2rem;
  height: 50px;
  width: fit-content;
  padding-left: 0;
}
  
.packaging-sustainability-container-dropdown{
  display: none;
}
  
.card-header-pills{
  display: flex;
  align-items: center;
  justify-content: start;
  gap:0;
}

.nav-link{
  color:#4A3A2A;
}
  
.packaging-sustainability:hover {
  color:#D33445;
  text-decoration: underline;
}
  
  
.packaging-sustainability{
  margin-left: 2rem;
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 32px;
}

  
.goal-status{
  grid-column: 1/6;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 20px;
  padding-bottom: 30px;
}

.main-section{
  background: rgba(255, 255, 255, 0.6);
  margin-left: 2rem;
  margin-right: 2rem;
}


@media only screen and (min-width:768px) and (max-width:992px) {

  .our-people-roadmap{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 42px;
    margin-top: 40px;
  }
  
  .pillars{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #4A3A2A;
    padding-left: 7rem;
    padding-right: 7rem;
  }
  
  .view-all-stories-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .card.card1{
    grid-column: 1/2;
    width: 100%;
    grid-row: 1/2;
  }
  
  .card.card2{
    grid-column: 2 /3;
    grid-row: 1/2;
    width: 100%;
  }
  
  .card.card3{
    grid-column: 3/4;
    grid-row: 1/2;
    width: 100%;
  }

  .card.card4{
    grid-column: 4 /5;
    grid-row: 1/2;
    width: 100%; 
  }
  
  #cards-text-stories{
    font-size: 12px;
    line-height: 20px;
    color: #4A3A2A;
  }
    
  .packaging-sustainability{
    margin-left: 2rem;
    font-size: 15px;
    line-height: 22px;
  }
  
  .packaging-sustainability-container{
    display:none;
    margin-top: 30px;
    margin-bottom: 1rem;
    height: 50px;
    width: fit-content;
    padding-left: 0;
  }

  .packaging-sustainability-container-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/5;
    grid-row: 2/3;
    background: #FFE9D8;
    padding-left: 1rem;
  }
  
  .goal-status{
    grid-column: 1/5;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 20px;
    padding-bottom: 30px;
  }

  .btn-packaging-sustainability-container-dropdown{
    color: #DC9057;
    font-weight: 700;
  }

  .btn-packaging-sustainability-container-dropdown:after{
    margin-left: 26rem;
  }
}
  

@media only screen and (max-width: 600px) and (max-width:768px){

  .card-container{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 10px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-left: 0;
    margin-right: 0;
  }
  
  .card.card1{
    grid-column: 1 /2;
    width: 100%;
    grid-row: 1/2;
  }

  .btn-packaging-sustainability-container-dropdown{
    color:#DC9057;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 4px;
    border-radius: 4px;
    font-weight: 600;
  }
  
  .btn-packaging-sustainability-container-dropdown:after{
    margin-left: 6rem;
  }
  
  .packaging-sustainability-container{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1 /2;
    grid-row: 2/3;
  }
  
  .packaging-sustainability-container-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    grid-column: 1 /2;
    grid-row: 2/3;
    background: #FFE9D8;
  }
    
  .packaging-sustainability{
    margin-left: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
  }
  
  #cards-text-stories{
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 32px;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
      
  .goal-status{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .card.card2{
    grid-column: 1 /2;
    width: 100%;
    grid-row: 4/5;
  }
  
  .card.card3{
    grid-column: 1 /2;
    width: 100%;
    grid-row: 5/6;
  }
  
  .card.card4{
    grid-column: 1 /2;
    width: 100%;
    grid-row: 6/7;
  }
  
  
  .our-people-roadmap{
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
    margin-top: 40px;
  }
  
  .pillars{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 16px;
    color: #4A3A2A;
  }
  
  .view-all-stories-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  
  .card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 32px;
    color: #4A3A2A;
  }
  
  #cards-text-stories{
    padding-top: 0;
    padding-bottom: 0;
    font-size: 15px;
  }
  
  .accordion-button{
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    padding: 0.5rem 1rem;
  } 
}
  
.card-header{
  background: #DC9057;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  border-top-left-radius: 50px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}
  
.card-goal{
  background: #FFFFFF;
}
  
#card-text{ 
  font-style: normal;
  font-size: 15px;
  line-height: 28px;
  margin-left: 10px;
}
  
.card-status{
  background: #FFFFFF;
}
  
.card-status .card-header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
  
.card-goal .card-header{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
  
.card-body{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
  
.card.card-goal{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
  
.card.card-status{
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
  
.accordion-button{
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  background:  #FFF8F2;
  border-radius: 10px;
  margin-bottom: 10px;
}
  
.accordion-button:not(.collapsed) {
  background-color: #FFE9D8;
  color:#4A3A2A;
  margin-bottom: 0;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;  
}
  
.accordion{
  margin-left: 6px;
  margin-right: 6px; 
}
  
.accordion-body{
  background-color: #FFE9D8;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}
  
.accordion-item{
  border:none;
}
  
  
.card-text-span{
  color:#DC9057;
  font-weight: 800 !important;
}
  
.descent_work_and_economic_growth_pic{
  padding-bottom: 2rem;
  padding-left: 10px;
}


.bottom-page{
  background: #1E3569;
}
  
.bottom-row-section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
  
.boy-pic-container{
  grid-column: 1/2;
}
    
.reports-container{
  display: flex;
  padding-top: 20px;
}
  
.reports{
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
  
.jfc-groups{
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
  
.reps{
  grid-column: 2/4;
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}
  
.view-all-stories-button2{
  margin-top: 40px;
  background-color: #D84B59;
  color:#FFFFFF;
  width:200px;
  height: 42px;
  border: 2px solid #FFFFFF;
  margin-left: 4rem;
}
  
.links{
  color: #00E6FF;
}


@media only screen and (min-width:768px) and (max-width:992px){

  .bottom-row-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    }
  
  .boy-pic{
    grid-column: 1/2;
    width: 100% !important;
    height: 100%;
  }
  
  .reps{
    grid-column: 2/3;
    padding-left: 3rem;
    font-weight: 500;
    font-size: 10px;
    line-height: 24px;
  }
  
  .reports-container{
    display: flex;
    flex-direction: column;
  }
    
  .view-all-stories-button2{
    margin-left: 0 ;
    margin-bottom: 1rem;
    margin-top: 10px;
    width:120px;
    height: 26px;
  }
  
  #card-text{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    padding-left: 10px;
  }
  
  .zero-hunger-pic{
    padding-bottom: 2rem;
  }
  
  .accordion-button{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 24px;
  }
  
  .accordion-body{
    font-size: 12px;
  }
  
  .reports{
    font-size: 25px;
    line-height: 42px;
  }
  
  .jfc-groups{
    font-size: 10px;
    line-height: 16px;
  }
  
  .jollibee-foundation-link{
    font-size: 10px;
    line-height: 15px;
  } 
}
  

@media only screen and (max-width: 600px) and (max-width:768px){

  .bottom-row-section{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }
  
  
  .reports-container{
    display: flex;
    flex-direction: column;
  }
    
  .view-all-stories-button2{
    margin-left: 0 !important;
    margin-bottom: 2rem;
  }
  
  .boy-pic{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100% !important;
    height: 100%;  
  }
  
  .reps{
    padding-left: 2rem;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  #card-text{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 20px;
    padding-left: 0;
  }

  .descent_work_and_economic_growth_pic{
    width:50%;
  }
  
  .responsible_and_consumption_pic{
    padding-bottom: 2rem;
  }
  
  .accordion-button{
    font-style: normal;
    font-weight: 800;
    font-size: 15px;
    line-height: 24px;
  }
  
  .accordion-body{
    font-size: 12px;
  }
  
  .reports{
    font-size: 25px;
    line-height: 42px;
  }
  
  .jfc-groups{
    font-size: 13px;
    line-height: 24px;
    margin-right: 1rem;
  }
  
  .view-all-stories-button2{
    margin-top: 10px;
    background-color: #D84B59;
    color:#FFFFFF;
    width:150px;
    height: 32px;
    font-size: 12px; 
  }
  
  .jollibee-foundation-link{
    font-size: 13px;
    margin-right: 1rem;
  }
}